.wrapper {
  color: #52565A;
  cursor: pointer;
  margin-right: 30px;
  &:last-child {
    margin-right: 0;
  }

}

.image {

}

.date {
  margin-top: 25px;
}

.title {

}

.position {
  svg {
    margin-right: 6px;
  }
}

.type {

}