.wrapper {
  min-height: 295px;
  min-width: 195px;
  text-align: center;
  margin: 0 20px;
  div {
    width: 100%;
    background-color: white;
  }
  img {
    width: 100%;
    height: 246px;
  }
  h2 {
    color: white;
    margin: 0;
    margin-top: 10px;
  }
  p {
    color: white;
  }

}