.wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  h1 {
    margin: 0;
    color: white;

  }
  button {
    height: 50px;
    color: white;
    border-color: white;
    &:hover {
      color: #52565A;
      background-color: white;
    }
  }
}

.content {
  display: flex;
  overflow-x: scroll;
  flex-wrap: nowrap;
  //width: 100vw;

  &::-webkit-scrollbar {
    display: none; /* для WebKit (Safari, Chrome и т.д.) */
  }
  -ms-overflow-style: none;  /* для IE и Edge */
  scrollbar-width: none; /* для Firefox */
  overflow-y: scroll; /* Сохраняет возможность прокрутки */
}